@import "../../stylesheets/variables";

.filter__form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter__input{
    max-width: 250px;
    margin: 10px 0;
    height: 25px;
    font-size: 16px;
    padding: 0 4px;
    border-radius: 4px;
    font-family: 'Indie Flower', cursive;
    border: 2px solid $colorDarkBlue;
}
.filter__label{
    font-size: 20px;
    margin-right: 10px;
}