@import '../../stylesheets/variables';

.header__container{
    background-color: #2F4858;
    color: white;
    height: 100px;
}
.header__title{
    margin: 5px 0;
}
.header__wrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.menu__list {
    font-size: 24px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.link__header{
    :active {
        color: $colorLightBlue;
    }
    :hover{
        color: $colorLightBlue;
    }
    :visited {
        color: $colorLightBlue;
    }
}