body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mali', cursive;
}
h1, h2, h3, h4 {
  margin: 0;
}
a{
  color: inherit;
  text-decoration: none;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
